* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

body {
  background-color: rgb(245, 249, 255);
  color: #222222;
}

table,
td,
th {
  border: double #222222 2px;
}

nav {
  margin: 20px;
  font-weight: 700;
  text-align: center;
}

.header,
.table,
form,
table {
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  align-self: center;
}

button {
  margin: 20px;
  padding: 5px;
}
